#back{
    background-color: #003060;
}
#back2{
    background-color: #2CAEEF;
}
#enviar{
    background-color: #FFEE55;
    color: black;
}
#volte{
    background-color: white;
    color:#003060;
}
#nome{
    color:#FFEE55;      
    font-family: "DM Sans";

}