.texto-card-tutorial {
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  text-align: center;
  width: 18rem; 
  height: 25rem; 
  overflow: hidden; 
  display: flex;
  flex-direction: column;
  justify-content: space-between; 
}

.tutorial-card-body {
  position: relative;
  flex-grow: 1;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.tutorial-card-text {
  display: -webkit-box; /* Estilização para truncar o texto */
  -webkit-line-clamp: 3; /* Mostra apenas 3 linhas */
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #666;
}

.tutorial-read-more-btn {
  background: none;
  border: none;
  color: #007bff;
  cursor: pointer;
  text-decoration: underline;
  padding: 0;
  font-size: 0.9rem;
}
.tutorial-read-more-btn:hover {
  color: #0056b3;
}

.hover-effect {
    transition: transform 0.4s ease-in-out, filter 0.3s;
  }
  
  .tutorial-card-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .texto-card-tutorial:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  }
  
  .tutorial-card-header {
    font-weight: bold;
    border-radius: 10px 10px 0 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  
  .tutorial-card-text {
    color: #666;
  }
  
  .btn1 {
    background-color: #4fa6ff;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    border-radius: 20px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease-in-out;
  }
  
  .btn2 {
    background-color: #007cf9;
    color: #ffffff;
    border: none;
    padding: 10px;
    border-radius: 20px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease-in-out;
  }
  
  .btn3 {
    background-color: #0367cc;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    border-radius: 20px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease-in-out;
  }
  
  .btn4 {
    background-color: #0251a0;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    border-radius: 20px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease-in-out;
  }
  
  
  .btn5 {
    background-color: #042c5c;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    border-radius: 20px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease-in-out;
  }
  
  .btn6 {
    background-color: #011830;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    border-radius: 20px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease-in-out;
  }
  
  .btn1:hover, .btn2:hover, .btn3:hover, .btn4:hover, .btn5:hover, .btn6:hover{
    transform: scale(1.05);
    background-color: #ffee55;
    color: black;
  }