.card1 {
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  text-align: center;
  width: 18rem; 
  height: 25rem; 
  overflow: hidden; 
  display: flex;
  flex-direction: column;
  justify-content: space-between; 
}

.card1-body {
  position: relative;
  flex-grow: 1;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}


.card1-text {
  display: -webkit-box;
  -webkit-line-clamp: 3; 
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #666;
  transition: all 0.3s ease;
}

.card1-text.expanded {
  display: block;
  overflow: visible;
  text-overflow: unset;
  -webkit-line-clamp: unset;
}

.read-more-btn {
  background: none;
  border: none;
  color: #007bff;
  cursor: pointer;
  text-decoration: underline;
  padding: 0;
  font-size: 0.9rem;
}
.read-more-btn:hover {
  color: #0056b3;
}

.hover-effect {
    transition: transform 0.4s ease-in-out, filter 0.3s;
  }
  
  .caixa {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .card1:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  }
  
  .card1-header {
    font-weight: bold;
    border-radius: 10px 10px 0 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  
  .card1-text {
    color: #666;
  }
  