.criar{
    background-color: #2CAEEF;
    color: white;
}
#form{
    border: 1px solid #003060;
}
.box-1{
    background-color: #2CAEEF;
}
#botao{
    background-color: #003060;
    color: white;

}
#botao:hover{
    background-color: #044383;

}