@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap');
#divGrande{
    background: #2CAEEF;
}
#nome{
    border-color: #003060;
    border: solid 1px;
}
#descricao{
    border-color: #003060;
    border: solid 1px;
}
#h2{
    background-color: #2CAEEF;
    color: white;
    height: 100px;
    justify-content: center;
    align-items: center;
    margin: 0px;
}
#botao{
    background-color: #003060;
    color: white;

}
#botao:hover{
    background-color: #044383;

}
body{
    font-family: "DM Sans";
}
#forms{
    z-index: 3;
}
@media (max-width: 576px) {
    #forms {
      max-width: 100vw; 
    }
  }
@media(min-width: 768px){
    #forms{
        max-width: 50vw;
    }
}